body {
  /* border: 4px solid black; */
  margin: 0px;
  font-family: "Roboto";
}

/* ! Start of header */

.header {
  /* border: 2px solid red; */
  display: flex;
  background-color: #1f2937;
  padding-top: 10px;
}

.logo {
  /* border: 2px solid green; */
  display: flex;
  margin-left: 160px;
  font-size: 24px;
  color: #f9faf8;
}

ul {
  display: flex;
  /* border: 2px solid yellow; */
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-left: auto;
  align-items: center;
  margin-right: 160px;
  gap: 20px;
}

li {
  /* border: 2px solid orange; */
  font-size: 18px;
  color: #e5e7eb;
}

/* ! End of header */

/* ! Start of content1 */

.content1 {
  background-color: #1f2937;
  /* border: 2px solid red; */
  display: flex;
  padding: 80px 160px 80px 160px;
  gap: 40px;
}

.left {
  /* border: 2px solid greenyellow; */
  width: 400px;
}

.maintext {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  /* border: 2px solid red; */
  margin-bottom: 5px;
}

.secondarytext {
  font-size: 18px;
  color: #e5e7eb;
  /* border: 2px solid blue; */
  margin-bottom: 5px;
}

button {
  font-size: 18px;
  color: #f9faf8;
  background: #3882f6;
  border-radius: 12px;
  padding: 7.5px 35px;
  border: solid #3882f6;
}

.right {
  /* border: 2px solid brown; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  background-color: #6d747d;
  width: 500px;
}

/* ! End of content1 */

/* ! Start of content2 */

.content2 {
  /* border: 2px solid purple; */
}

.title {
  /* border: 2px solid red; */
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
  padding: 20px 0 20px 0;
}
.boxes {
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 90px;
  gap: 40px;
}

.box {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  flex-wrap: wrap;
  text-align: center;
}

img {
  border: 2px solid #3882f6;
  padding: 80px;
  border-radius: 12px;
}

.text {
  /* border: 2px solid black; */
  padding-top: 4px;
  font-size: 18px;
  color: #6d747d;
}

/* ! End of content2 */

/* ! Start of content3 */

.content3 {
  /* border: 2px solid green; */
  background: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 90px;
}

.quote {
  /* border: 2px solid black; */
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  font-family: "Times New Roman", Times, serif;
  width: 800px;
}

.qoutee {
  /* border: 2px solid purple; */
  font-size: 20px;
  font-weight: 1000;
  width: 800px;
  text-align: right;
}

/* ! End of content3 */

/* ! Start of content4 */

